<!DOCTYPE html>
<html>
  <head>
    <title>AIUCDataGen</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
      <header class="page">
        <div class="pagecenter">
          <h1>How beautiful are you?</h1>
          <p class="subtitle">Help us by answering a few questions, we will give you your results in the future.</p>
          <a class="button-important" href="vote">Start</a>
        </div>
      </header>
      <header class="page pink">
        <div class="pagecenter half">
          <h2>What?</h2>
          <p>This website collects data about people's faces.<br>This data will
            be stored and used to make an AI that will rate people's beauty.<br>
            You will be shown 2 pictures of 2 random people and you will be
            asked which one is prettier.<br>After at least 5 votes you will get
            to upload your own picture and get updates about how other people
            scored you!
          </p>
        </div>
      </header>
      <p>All of the website's sources are avilable here: <a href="https://github.com/AmitGoren/AmIUgly">https://github.com/AmitGoren/AmIUgly</a>
    </center>
  </body>
</html>
