<!DOCTYPE html>
<html>
  <head>
    <title><AIUCDataGen></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
      <h1>AIUCDataGen</h1>
      <p>After you'll click "START HERE", you will be shown 2 random Reddit posts and you will be asked which one of the people there is
      more beautiful. If there are problems with an image, you can click "View image" and then decide. Try to look both on the
      pictures <u>and the comments below</u>. If one post does not contains any pictures or comments, click the "Natrual/skip" button.
      This website will be used to train an AI. Thank you!!!
      Website sources (if you want to look at them for some reason; outdated): https://github.com/AmitGoren/AmIUgly</p>
      <a href="vote">START HERE</a>
    </center>
  </body>
</html>
