<!DOCTYPE html>
<html>
  <head>
    <title><AIUCDataGen></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
      <h1>AIUCDataGen</h1>
      <a href="vote">Start</a>
    </center>
  </body>
</html>
