@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200,300;400&display=swap');

:root {
  --black: #1A1A1D;
  --gray: #4E4E50;
  --dim: #6F2232;
  --lead1: #950740;
  --lead2: #C3073F;
  --white: #FFFFFF;
}

body {
  padding: 0;

  font-family: 'Roboto', sans-serif;

  color: var(--gray);
  background-color: var(--black);
}

header.page {
  padding: 82pt;

  height: 98.5vh;
  padding-top: 0;
  padding-bottom: 0;
}

header.page.pink {
  height: 40vh;

  background-color: var(--lead2);
  color: var(--white);
}

div.pagecenter {
  padding-top: 30vh;
}

div.pagecenter.half {
  padding-top: 8vh;
}

h1 {
  margin: 10pt 10pt 2pt 10pt;
  font-size: 48pt;
  font-weight: 200;

  color: var(--white);
}

h2 {
  font-size: 32pt;
  font-weight: 300;

  color: var(--white);
}

a {
  color: var(--lead2);
}

p.subtitle {
  margin-top: 0pt;

  font-weight: 300;

  color: var(--white);
}

a.button-important {
  display: inline-block;

  margin: 32pt;
  padding: 8pt 32pt;

  border: 2pt solid var(--lead2);
  border-radius: 30pt;

  color: var(--white);

  text-decoration: none;
  font-size: 14pt;
  font-weight: 300;

  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.image {
  max-height: 500px;
  max-width: 40%;
  width: auto;
  height: auto;
}
